p{color:pink;}
p{color:#a142f5;}
p{color:#7d2194;}
body{background-color:#f7aa83;}
h1{text-align:center;}
text-decoration{text-underline-position: under;}
h1{font-family:georgia}
p{font-family: mv boli}